/*basic styling */
.contactForm {
  text-align: center;
  margin: auto;
  width: 300px;
  padding-top: 15px
}

.contactForm>div {
  position: relative;
  width: 100%;
}

.contactForm>div input {
  width: 100%;
  height: 42px;
  margin: 10px;
  border: none;
  border-bottom: 2px solid #eee;
  border-left: 2px solid #eee;
  padding: 0 10px;
  transition: all .3s ease;
  outline: none !important;
}

.contactForm>div label {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  transition: all .3s ease;
}

.contactForm>div input:focus {
  border-color: #ff6291;
}

.contactForm>div input:not(:placeholder-shown) {
  border-color: #26e9b9;
}

/* END of basic styling*/

/*************************************************/
/*     NOW that's the part that interests us     */
/*************************************************/

/* label goes up when input is focused OR filled */
.contactForm>div input:focus~label,
.contactForm>div input:not(:placeholder-shown)~label {
  font-size: 12px;
  transform: translateY(-30px);
}

/* label color on focused state */
.contactForm>div input:focus~label {
  color: #ff6291;
}

/* label color on filled state */
.contactForm>div input:not(:placeholder-shown)~label {
  color: #26e9b9;
}

/* button styling */
.submit {
  color: #fff !important;
  background-image: linear-gradient(to right, #ff017d 0, #ff7f78 40%, #fff 50%, #26e9b9 60%, #44c0ff 100%) !important;
  background-size: 300% 200% !important;
  background-position: -1px 0;
  transition: background-position .3s;
  border: none !important;
  border-radius: 50px;
  padding: 10px 42px;
  text-transform: uppercase;
}

.submit:hover {
  background-position: 95% 0 !important;
  cursor: pointer;
}

/* Contact us */
.contact-us-icon {
  width: 30px;
  font-size: 30px;
}

.info-line {
  display: flex;
  align-items: center;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.form-row {
  height: 64px;
}

.form-input {
  height: 100% !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 39px;
  color: #000 !important;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 39px;
  color: #000 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 39px;
  color: #000 !important;
}

input[type="text"],
input[type="email"],
textarea {

  background-color: #D9D9D9BF !important;
  font-size: 25px !important;
  color: #000 !important;
}

.send-btn {
  width: 147px;
  height: 54px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  font-family: 'Saira';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 47px;
  text-align: center;
  background-color: Transparent;
  color: white;
  transition-timing-function: ease;
  transition: 0.2s;
}

.send-btn:hover {
  color: black;
  background-color: white;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  position: relative;
}

/**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  /* padding: 0 10px; */
  cursor: text;
  transition: all .2s ease;
  outline: none !important;
}


label {
  /* text-transform: uppercase; */
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px 5px 5px 15px;
  font-size: 25px;
  transition: all .2s ease;
  color: #000;
}

/**
    Floating Label
  */
input:focus~label,
input:not(:placeholder-shown)~label {
  font-size: 25px;
  transform: translateY(-45px);
}

/* label color on focused state */
input:focus~label {
  color: #00ffd5;
}

/* label color on filled state */
input:not(:placeholder-shown)~label {
  color: #26e940;
}

/* Textarea */
textarea:focus~label,
textarea:not(:placeholder-shown)~label {
  font-size: 25px;
  transform: translateY(-45px);
}

/* label color on focused state */
textarea:focus~label {
  color: #00ffd5;
}

/* label color on filled state */
textarea:not(:placeholder-shown)~label {
  color: #26e940;
}

.col-no-padding{
  padding: 0 !important;
}