@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

#rovers {
    background: url("../img/space.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#rovers h1 {
    color: white;
    margin-top: 30px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 63px;
}

.roverList {
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
}

.roverButton {
    width: 170px;
    height: 47px;
    border-radius: 10px;
    border: none;
    background-color: #161616;
    color: white;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
}

.activeButton {
    background-color: #6C6C6C;
}

.roverCard {
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(7.5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
    height: 501px;
    width: 75%;
    margin-top: 50px;
    display: flex;
}

.roverCardImg {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
    padding: 49px 0px 0px 56px;
}

.roverCardImg p {
    color: white;
    margin-top: 10px;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
}

.roverCardImg img {
    height: 349px;
    width: 100%;
    border-radius: 3px;
}

.roverCardDis {
    width: 50%;
    color: white;
    padding: 49px 62px 0px 25px;
    text-align: center;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
}

.field {
    display: flex;
    flex-flow: column-reverse;
    margin-bottom: 1em;
  }
  /**
  * Add a transition to the label and input.
  * I'm not even sure that touch-action: manipulation works on
  * inputs, but hey, it's new and cool and could remove the 
  * pesky delay.
  */
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }
  
  input {
    font-size: 1.5em;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
  }
  
  input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }
  
  label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  /**
  * Translate down and scale the label up to cover the placeholder,
  * when following an input (with placeholder-shown support).
  * Also make sure the label is only on one row, at max 2/3rds of the
  * field—to make sure it scales properly and doesn't wrap.
  */
  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
  }
  /**
  * By default, the placeholder should be transparent. Also, it should 
  * inherit the transition.
  */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
  /**
  * Show the placeholder when the input is focused.
  */
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  /**
  * When the element is focused, remove the label transform.
  * Also, do this when the placeholder is _not_ shown, i.e. when 
  * there's something in the input at all.
  */
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }